@model NhomXingfa.Models.ProductViewModel
@using NhomXingfa.Areas.Quantri.Utilities
@{
    var culture = new System.Globalization.CultureInfo("vi-VN");
}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="/san-pham" class="active">All</a></li>
                    @foreach (var q in Model.categories)
                    {

                        if (Model.category != null && Model.category.CategoryID == q.CategoryID)
                        {
                            <li class="active">
                                <a href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">@q.CategoryName</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">@q.CategoryName</a>
                            </li>
                        }
                        @*}*@
                    }
                   
                </ul>
            </div>
        </div>
        <div class="row">
            @foreach (var q in Model.product)
            {
                <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                    <div class="product">
                        <a href="/san-pham-ct/@q.SEOUrlRewrite-@q.ProductID" class="img-prod">
                            <img class="img-fluid" src="@WebConstants.ImgProductShow/@q.Images" alt="@q.ProductName">
                            
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="/san-pham-ct/@q.SEOUrlRewrite-@q.ProductID">@q.ProductName</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        @if (q.Price == null || q.Price == "" || q.Price == "0")
                                        {
                                            <span class="price-sale">Liên hệ</span>
                                        }
                                        else
                                        {
                                            <span class="price-sale">@string.Format("{0:C}", q.Price)</span>
                                        }

                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="/san-pham-ct/@q.SEOUrlRewrite-@q.ProductID" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="/san-pham-ct/@q.SEOUrlRewrite-@q.ProductID" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



